<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li id="home"    class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="javascript:void(0);">Home</a></li>
                <li id="about"   class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="javascript:void(0);">About</a></li>
                <li id="post"    class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="javascript:void(0);">Sample Post</a></li>
                <li id="contact" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="javascript:void(0);">Contact</a></li>
                <li id="user/loginForm/login" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="javascript:void(0);">Login</a></li>
                <li id="user/joinForm/join" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="javascript:void(0);">Join</a></li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $(function () {
        $("li.nav-item").click(function(){
            const navId = $(this).attr("id");
            location.href="/"+navId;
        })
    });
</script>